################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/2. libs/DokmeeConnector/Dokmee Connector.v1.5/Dokmee Connector Sample App/obj/Debug
/2. libs/DokmeeConnector/Dokmee Connector.v1.5/Dokmee Connector Sample App/bin/Debug
/3. src/Repositories/obj/Debug
/3. src/Repositories/bin/Debug
/3. src/Services/bin/Debug
