@model IEnumerable<Services.AuthService.Models.Node>
@{
    ViewBag.Title = "CabinetDetail";
}

<section>
    <div class="row">
        <div class="col-md-12">
            <h4>Cabinet content</h4>
            <a href="/home/index">Back to list cabinets</a>
            <table class="table">
                <thead>
                <tr>
                    <th style="width: 10%;">ID</th>
                    <th style="width: 60%;">Name</th>
                    <th style="width: 20%;">Type</th>
                </tr>
                </thead>

                <tbody>
                @foreach (var item in Model)
                {
                    <tr>

                        <td>
                            @if (item.IsFolder)
                            {
                                <img src="~/Content/imgs/folder-icon.png" class="folder-item-icon"/>
                            }
                            else
                            {
                                <img src="~/Content/imgs/file-icon.png" class="folder-item-icon"/>
                            }
                        </td>
                        <td>
                            @if (item.IsFolder)
                            {
                                <a href="/home/folder?id=@item.ID&isRoot=@item.IsRoot.ToString()">
                                    @item.Name
                                </a>
                            }
                            else
                            {
                                <a>
                                    @item.Name
                                </a>
                            }
                          
                        </td>
                        <td>
                            @if (item.IsFolder)
                            {
                                <span>Folder</span>
                            }
                            else
                            {
                                <span>File</span>
                            }
                        </td>
                    </tr>
                }
                </tbody>
            </table>
        </div>
    </div>
</section>